<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OmniaGUI.Properties.mscc" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="OmniaGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
    <userSettings>
        <OmniaGUI.Properties.mscc>
            <setting name="test" serializeAs="String">
                <value>0</value>
            </setting>
        </OmniaGUI.Properties.mscc>
        <OmniaGUI.Properties.Settings>
            <setting name="Main_Window_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="S_meter_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Panadapter_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Panadapter_Control_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Panadapter_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Waterfall_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Waterfall_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
            <setting name="Main_Window_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="Background_Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Freq_Color" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Docked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Autodocked" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Top_Window" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Boarder_Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Auto_Zero" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Band_Change_Tune" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Waterfall_Marker" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Waterfall_Marker_Color_Index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RIT_Step" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RIT_Limits" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mic_Is_Digital" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Digital_Volume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Voice_Volume" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Stop_Server" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Antenna_Switch" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Antenna_Switch_Index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Hi_Cut_Default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Lo_Cut_Default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CW_Default" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Mic_Gain_Step" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SWR_Meter_Hold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Time_Check_Box" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Meter_Mode" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="Volume_Attn_Index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Time_Grid" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Speaker_MutED" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Control_Backgroud_Color" serializeAs="String">
                <value>Gainsboro</value>
            </setting>
            <setting name="Control_Foreground_Color" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Meter_Peak_Needle" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Meter_Peak_Hold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Meter_Peak_Needle_Color" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Speaker_Volume" serializeAs="String">
                <value>0</value>
            </setting>
        </OmniaGUI.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
